<button (click)="toggleShow()">Toggle</button>
<ng-container *ngIf="show">
  nanoha
  <try-unsub-solution-base-component></try-unsub-solution-base-component>
  <try-unsub-solution-no-unsub></try-unsub-solution-no-unsub>
  <try-unsub-solution-unsubscribe-method></try-unsub-solution-unsubscribe-method>
  <try-unsub-solution-notifier-subject></try-unsub-solution-notifier-subject>
  <try-unsub-solution-w11k-component-destroyed></try-unsub-solution-w11k-component-destroyed>
  <try-unsub-solution-ngneat-until-destroy></try-unsub-solution-ngneat-until-destroy>
</ng-container>
